<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.oryanmat.trellowidget">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TrelloWidget"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- use singleTask so that the activity will catch the callback intent from Trello's auth.
        see: http://developer.android.com/intl/zh-TW/guide/topics/manifest/activity-element.html -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- enable this activity to receive data from the browser -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="trello-widget" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConfigActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_config"
            android:theme="@style/DialogTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.TrelloWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/trello_widget_info" />
        </receiver>

        <receiver android:name=".widget.AlarmReceiver" />

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>
